body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: white;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Hero */
#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #fd7e14, #f06d06);
    color: white;
    text-align: center;
}

.btn {
    background: white;
    color: #f06d06;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}
